/*
Error: Undefined variable: "$light-gray".
        on line 8 of /Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_forms.scss

3:   color: white;
4:   text-transform: uppercase;
5:   padding: .5rem 1rem;
6:   font-size: 1.5rem;
7:   border: 0 none;
8:   background-color: $light-gray;
9:   @include bold;
10:   @include border-box;
11:   @include appeareance;
12:   @include border-radius(5px);
13:   &.cancel {

Backtrace:
/Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_forms.scss:8
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/variable.rb:49:in `_perform'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/node.rb:50:in `perform'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:431:in `map'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:420:in `run'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$light-gray\".\A         on line 8 of /Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_forms.scss\A \A 3:   color: white;\A 4:   text-transform: uppercase;\A 5:   padding: .5rem 1rem;\A 6:   font-size: 1.5rem;\A 7:   border: 0 none;\A 8:   background-color: $light-gray;\A 9:   @include bold;\A 10:   @include border-box;\A 11:   @include appeareance;\A 12:   @include border-radius(5px);\A 13:   &.cancel {"; }
