/*
Error: Undefined mixin 'font-face'.
        on line 3 of /Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_typeworks.scss, in `font-face'
        from line 3 of /Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_typeworks.scss

1: // _typeworks.scss
2: 
3: @include font-face('bold', 'bold', 'Proxima Nova', 'sans-serif');
4: @include font-face('italic', 'italic', 'Proxima Nova', 'sans-serif');
5: @include font-face('semibold', 'semibold', 'Proxima Nova', 'sans-serif');
6: @include font-face('regular', 'regular', 'Proxima Nova', 'sans-serif');
7: 
8: @mixin regular {

Backtrace:
/Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_typeworks.scss:3:in `font-face'
/Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_typeworks.scss:3
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:98:in `block in with_mixin'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:98:in `with_mixin'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:420:in `run'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/opt/homebrew-cask/Caskroom/codekit/2.3.10-19033/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'font-face'.\A         on line 3 of /Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_typeworks.scss, in `font-face'\A         from line 3 of /Users/bleedingxedge/Desktop/OpenCollective/style-guide/scss/_typeworks.scss\A \A 1: // _typeworks.scss\A 2: \A 3: @include font-face('bold', 'bold', 'Proxima Nova', 'sans-serif');\A 4: @include font-face('italic', 'italic', 'Proxima Nova', 'sans-serif');\A 5: @include font-face('semibold', 'semibold', 'Proxima Nova', 'sans-serif');\A 6: @include font-face('regular', 'regular', 'Proxima Nova', 'sans-serif');\A 7: \A 8: @mixin regular {"; }
