@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 98%; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: var(1%);
  margin-left: var(1%); }

.col-0 {
  width: 0%;
  -webkit-flex-basis: 0%;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%; }

.col-1 {
  width: 0%;
  -webkit-flex-basis: 0%;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%; }

.col-2 {
  width: 0%;
  -webkit-flex-basis: 0%;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%; }

.col-3 {
  width: 0%;
  -webkit-flex-basis: 0%;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%; }

.col-4 {
  width: 0%;
  -webkit-flex-basis: 0%;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%; }

@font-face {
  font-family: "bold";
  src: url("../fonts/Proxima Nova/bold.eot");
  src: url("../fonts/Proxima Nova/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/bold.woff") format("woff"), url("../fonts/Proxima Nova/bold.woff2") format("woff"), url("../fonts/Proxima Nova/bold.ttf") format("truetype"), url("../fonts/Proxima Nova/bold.svg#bold") format("svg"); }
@font-face {
  font-family: "italic";
  src: url("../fonts/Proxima Nova/italic.eot");
  src: url("../fonts/Proxima Nova/italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/italic.woff") format("woff"), url("../fonts/Proxima Nova/italic.woff2") format("woff"), url("../fonts/Proxima Nova/italic.ttf") format("truetype"), url("../fonts/Proxima Nova/italic.svg#italic") format("svg"); }
@font-face {
  font-family: "semibold";
  src: url("../fonts/Proxima Nova/semibold.eot");
  src: url("../fonts/Proxima Nova/semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/semibold.woff") format("woff"), url("../fonts/Proxima Nova/semibold.woff2") format("woff"), url("../fonts/Proxima Nova/semibold.ttf") format("truetype"), url("../fonts/Proxima Nova/semibold.svg#semibold") format("svg"); }
@font-face {
  font-family: "regular";
  src: url("../fonts/Proxima Nova/regular.eot");
  src: url("../fonts/Proxima Nova/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/regular.woff") format("woff"), url("../fonts/Proxima Nova/regular.woff2") format("woff"), url("../fonts/Proxima Nova/regular.ttf") format("truetype"), url("../fonts/Proxima Nova/regular.svg#regular") format("svg"); }
html, body {
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: 'regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-family: 'semibold', sans-serif; }

h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  font-family: 'semibold', sans-serif; }

h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-family: 'semibold', sans-serif; }

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: 'regular', sans-serif; }
  p.meta {
    font-size: .7rem;
    line-height: 1rem;
    text-transform: uppercase; }

a {
  color: #7FADF2;
  text-decoration: underline; }

.button, form button, form input[type="submit"] {
  color: white;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border: 0 none;
  background-color: #F9FAFA;
  font-family: 'bold', sans-serif;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: all 230ms ease-in;
  transition: all 230ms ease-in;
  border-radius: 5px; }
  .button.cancel, form button.cancel, form input.cancel[type="submit"] {
    background-color: #dd2663; }
    .button.cancel:hover, form button.cancel:hover, form input.cancel[type="submit"]:hover {
      background-color: #c60042;
      border-bottom: 5px solid #dd2663; }
    .button.cancel:active, form button.cancel:active, form input.cancel[type="submit"]:active {
      background-color: #dd2663;
      border-top: #c60042; }
  .button.send, form button.send, form input.send[type="submit"] {
    background-color: #80d823; }
    .button.send:hover, form button.send:hover, form input.send[type="submit"]:hover {
      background-color: #63c000;
      border-bottom: 5px solid #80d823; }
    .button.send:active, form button.send:active, form input.send[type="submit"]:active {
      background-color: #80d823;
      border-top: #63c000; }

form input[type="text"], form textarea  {
  background-color: #F9FAFA;
  color: #7A7B82;
  border: 0 none;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: .5rem;
  min-width: 50%;
  font-family: 'regular', sans-serif;
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-transition: all 230ms ease-in;
  transition: all 230ms ease-in;
  border: 1px solid transparent; }
  form input[type="text"]::-webkit-input-placeholder, form textarea ::-webkit-input-placeholder {
    font-family: 'italic', sans-serif; }
  form input[type="text"]::-moz-placeholder, form textarea ::-moz-placeholder {
    font-family: 'italic', sans-serif; }
  form input[type="text"]:-ms-input-placeholder, form textarea :-ms-input-placeholder {
    font-family: 'italic', sans-serif; }
  form input[type="text"]:disabled, form textarea :disabled {
    background-color: #DDE1E4; }
  form input[type="text"]:focus, form input[type="text"].focus, form textarea :focus, form textarea .focus {
    border: 1px solid #7FADF2;
    outline: 0; }
  form input[type="text"]:active, form input[type="text"].active, form textarea :active, form textarea .active {
    box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2); }
  form input[type="text"]:hover, form input[type="text"].hover, form textarea :hover, form textarea .hover {
    color: #7FADF2;
    border: 1px solid #7FADF2; }
    form input[type="text"]:hover::-webkit-input-placeholder, form input[type="text"].hover::-webkit-input-placeholder, form textarea :hover::-webkit-input-placeholder, form textarea .hover::-webkit-input-placeholder {
      color: #7FADF2; }
    form input[type="text"]:hover::-moz-placeholder, form input[type="text"].hover::-moz-placeholder, form textarea :hover::-moz-placeholder, form textarea .hover::-moz-placeholder {
      color: #7FADF2; }
    form input[type="text"]:hover:-ms-input-placeholder, form input[type="text"].hover:-ms-input-placeholder, form textarea :hover:-ms-input-placeholder, form textarea .hover:-ms-input-placeholder {
      color: #7FADF2; }
form select {
  border: 0 none;
  font-size: 16px;
  padding: 1rem;
  color: #7A7B82;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: 'regular', sans-serif;
  border-radius: 2px;
  background: #F9FAFA url("../assets/dd-caret.svg") no-repeat 95% 50%;
  background-size: 10%;
  border: 1px solid transparent; }
  form select:hover {
    border: 1px solid #7FADF2; }
  form select optgroup {
    padding: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
  form select option {
    background-color: #F9FAFA;
    padding: 1rem;
    color: #7A7B82;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    form select option:first-of-type {
      border-top: 1px solid #DDE1E4; }
form label {
  display: inline;
  margin-right: 60px;
  padding-bottom: 10px; }

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid #DDE1E4; }

input[type="radio"]::after {
  content: "";
  position: absolute;
  background: #7FADF2;
  width: .65rem;
  height: .65rem;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  -webkit-transition: all 230ms ease-in;
  transition: all 230ms ease-in; }

input[type="radio"] {
  background: white;
  border: 1px solid #DDE1E4; }
  input[type="radio"]::after {
    opacity: 0;
    -webkit-transform: scale(1.25); }
  input[type="radio"]:hover, input[type="radio"].hover {
    background: #F9FAFA;
    box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2); }
  input[type="radio"]:focus, input[type="radio"].focus {
    outline: none;
    box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2); }
  input[type="radio"]:active, input[type="radio"].active {
    background: white;
    border: 1px solid #7FADF2;
    box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2); }
  input[type="radio"]:disabled {
    box-shadow: none;
    background: #F9FAFA;
    border: 1px solid #DDE1E4; }
  input[type="radio"]:checked {
    background: white;
    border: 1px solid #F9FAFA; }
    input[type="radio"]:checked:after {
      opacity: 1;
      -webkit-transform: scale(1); }
    input[type="radio"]:checked:hover, input[type="radio"]:checked.hover {
      background: white;
      border: 1px solid #7FADF2;
      box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2);
      -webkit-box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2); }
    input[type="radio"]:checked:focus, input[type="radio"]:checked.focus {
      border: 1px solid #DDE1E4; }
    input[type="radio"]:checked:active, input[type="radio"]:checked.active {
      background: white;
      border: 1px solid #7FADF2;
      box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2);
      -webkit-box-shadow: 0 1px 1px rgba(147, 157, 163, 0.3) inset, 0 0 0 2px rgba(0, 140, 221, 0.2); }
    input[type="radio"]:checked:disabled {
      opacity: 0.3;
      box-shadow: none;
      background: #DDE1E4;
      border: 1px solid #DDE1E4; }

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    font-size: 1.3rem;
    color: white;
    box-sizing: border-box;
    font-family: 'bold', sans-serif; }
  .onoffswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: #80d823;
    color: white; }
  .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #dd2663;
    color: white;
    text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 28px;
  margin: 6px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 46px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

nav ul {
  text-transform: uppercase; }
  nav ul li {
    display: inline;
    margin-right: 60px;
    font-size: .7rem; }
    nav ul li a {
      text-decoration: none;
      color: #7A7B82; }
      nav ul li a.active, nav ul li a:hover {
        text-decoration: underline;
        color: #7FADF2;
        -webkit-transition: all 230ms ease-in;
        transition: all 230ms ease-in; }

@font-face {
  font-family: "opencollective";
  src: url("fonts/opencollective.eot");
  src: url("fonts/opencollective.eot?#iefix") format("embedded-opentype"), url("fonts/opencollective.woff") format("woff"), url("fonts/opencollective.ttf") format("truetype"), url("fonts/opencollective.svg#opencollective") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "opencollective";
  content: attr(data-icon);
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "opencollective";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-upload:before {
  content: "a"; }

.icon-up:before {
  content: "b"; }

.icon-right:before {
  content: "c"; }

.icon-add:before {
  content: "d"; }

.icon-approved:before {
  content: "e"; }

.icon-down:before {
  content: "i"; }

.icon-left:before {
  content: "j"; }

.icon-pending:before {
  content: "l"; }

.icon-rejected:before {
  content: "p"; }

.icon-loading:before {
  content: "f"; }

.icon-oc-icon:before {
  content: "g"; }

.icon-upload-photo:before {
  content: "h"; }

.icon-camera:before {
  content: "k"; }

.icon-gear:before {
  content: "m"; }

.icon-user:before {
  content: "n"; }

.icon-password:before {
  content: "o"; }

.feedback {
  color: white;
  padding: 1rem;
  box-sizing: border-box; }
  .feedback.error {
    background-color: #dd2663; }
  .feedback.notice {
    background-color: #fffbe1;
    color: #cfa236; }
  .feedback.success {
    background-color: #80d823; }

body {
  background-color: #F9FAFA;
  color: #7A7B82;
  font-size: 16px;
  font-family: 'regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  background-color: white;
  padding: 1rem;
  box-sizing: border-box; }

aside {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); }

section {
  width: 70%;
  margin-left: 30%;
  padding: 1rem;
  box-sizing: border-box; }

article {
  margin-top: 4rem; }
