// _feedback.scss

.banner {
  color: white;
  @include border-box;
  .error {
    background-color: $red;
  }
  .notice {
    background-color: $yellow;
  }
  .success {
    background-color: $green;
  }
}

