// _feedback.scss

.feedback {
  color: white;
  padding: 1rem;
  @include border-box;
  &.error {
    background-color: $red;
  }
  &.notice {
    background-color: $yellow;
    color: $gold;
  }
  &.success {
    background-color: $green;
  }
}

