// _forms.scss

.button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  @include border-radius(5px);
}

form {
  input[type="text"], input[type="textarea"] {
    background-color: $light-gray;
    color: $dark-gray;
    font-style: italic;
    @include border-box;
    @include border-radius(5px);
  }
  button, input[type="submit"] {
    @extend .button
    &.cancel {
      background-color: $red;
    }
    &.send {
      background-color: $green;
    }
  }
  // Test in FF
  select {
    option {}
  }
  input[type="radio"] {}
}

