// _forms.scss
.button {
  color: white;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border: 0 none;
  background-color: $light-gray;
  @include bold;
  @include border-box;
  @include appearance;
  @include transition;
  @include border-radius(5px);
  &.cancel {
    background-color: $red;
    &:hover {
      background-color: $dark-red;
      border-bottom: 5px solid $red;
    }
    &:active {
      background-color: $red;
      border-top:$dark-red; 
    }
  }
  &.send {
    background-color: $green;
    &:hover {
      background-color: $dark-green;
      border-bottom: 5px solid $green;
    }
    &:active {
      background-color: $green;
      border-top:$dark-green; 
    }
  }
}

form {
  input[type="text"], textarea {
    background-color: $light-gray;
    color: $dark-gray;
    border: 0 none;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: .5rem;
    min-width: 50%;
    @include regular;
    @include border-box;
    @include border-radius(2px);
    @include transition;
    border: 1px solid transparent; //to make transition smooth and avoid jumpyness
    &::-webkit-input-placeholder {
      @include italic;
    }
    &::-moz-placeholder {  
      @include italic;
    }
    &:-ms-input-placeholder {  
      @include italic;
    }
    &:disabled {
      background-color: $gray;
    }
    &:focus, &.focus {
      border: 1px solid $light-blue;
      outline: 0;
    }
    &:active, &.active {
      @include active;
    }
    &:hover, &.hover {
      color: $light-blue;
      border: 1px solid $light-blue;
      &::-webkit-input-placeholder {
      color: $light-blue;
      }
      &::-moz-placeholder {  
        color: $light-blue;
      }
      &:-ms-input-placeholder {  
        color: $light-blue;
      }
    }
  } //text & textarea
  button, input[type="submit"] {
    @extend .button;
  }
  // Test in FF
  select {
    border: 0 none;
    font-size: 16px;
    padding: 1rem;
    color: $dark-gray;
    @include border-box;
    @include appearance;
    @include regular;
    @include border-radius(2px);
    background: $light-gray url('../assets/dd-caret.svg') no-repeat 95% 50%;
    background-size: 10%;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $light-blue;
    }
    optgroup {
      padding: 1rem;
      @include appearance;
    }
    option {
      background-color: $light-gray;
      padding: 1rem;
      color: $dark-gray;
      @include border-box;
      @include appearance;
      &:first-of-type {
        border-top: 1px solid $gray;
      }
    }
  }
  label {
    display: inline;
    margin-right: 60px;
    padding-bottom: 10px;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid $gray;
}
input[type="radio"]::after {
  content: "";
  position: absolute;
  background: $light-blue;
  width: .65rem;
  height: .65rem;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  @include transition;
}
input[type="radio"] {
  background: white;
  border: 1px solid $gray;
  &::after {
    opacity: 0;
    -webkit-transform: scale(1.25);
  }
  &:hover, &.hover {
    background: $light-gray;
    @include active;
  }
  &:focus, &.focus {
    outline: none;
    @include active;
  }
  &:active, &.active {
    background: white;
    border: 1px solid $light-blue;
    @include active;
  }
  &:disabled {
    box-shadow: none;
    background: $light-gray;
    border: 1px solid $gray;
  }
  &:checked {
    background: white;
    border: 1px solid $light-gray;
    &:after {
      opacity: 1;
      -webkit-transform: scale(1);
    }
    &:hover, &.hover {
      background: white;
      border: 1px solid $light-blue;
      @include active;
    }
    &:focus, &.focus {
      border: 1px solid $gray;
    }
    &:active, &.active {
      background: white;
      border: 1px solid $light-blue;
      @include active;
    }
    &:disabled {
      opacity: 0.3;
      box-shadow: none;
      background: $gray;
      border: 1px solid $gray;
    }
  }
}




.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  &:before, &:after {
    display: block;
    float: left;
    width: 50%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    font-size: 1.3rem;
    color: white;
    @include border-box;
    @include bold;
  }
  &:before {
    content: "ON";
    padding-left: 12px;
    background-color: $green;
    color: white;
  }
  &:after {
    content: "OFF";
    padding-right: 12px;
    background-color: $red;
    color: white;
    text-align: right;
  }
}

.onoffswitch-switch {
  display: block;
  width: 28px;
  margin: 6px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 46px;
  border-radius: 5px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-switch {
    right: 0px;
  }
}


.avatar {
  @include border-radius(50%);
  @include transition;
  background: url('../assets/default-avatar.png') center center no-repeat;
  background-size: 100%;
  width: 55px;
  height: 55px;
  //displaying purposes
  display: inline-block;
  .upload {
    @include border-radius(50%);
    background:rgba(255,255,255,.5) url('../assets/upload-photo.svg') center center no-repeat;
    background-size: 60%;
    width: 100%;
    height: 100%;
  }
}

.receipt {
  background-color: $light-gray;
  text-align: center;
  color: $gray;
  height: 298px;
  @include border-box;
  padding: 1.5rem;
  //display purposes
  margin-bottom: 1rem;
  img {
    max-width: 90px;
    //display purposes
    padding-top: 3rem;
  }
}
