// _main.scss

// This is the stylesheet that gives style to the guide.

body {
  background-color: $light-gray;
  color: $dark-gray;
  font-size: 16px;
  @include regular;
  @include font-smoothing;
}

.container {
  background-color: white;
  padding: 1rem;
  @include border-box;
}

aside {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 30%;
  padding: 1rem;
  @include border-box;
  @include box-shadow;
}

section {
  width: 70%;
  margin-left: 30%;
  padding: 1rem;
  @include border-box;
}

article {
  margin-top: 4rem;
}
