// _main.scss

// This is the stylesheet that gives style to the guide.

body {
  background-color: $light-gray;
  color: $dark-gray;
  font-size: 16px;
  @include regular;
  @include font-smoothing;
}

.container {
  background-color: white;
  padding: 1rem;
  @include border-box;
}

aside {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 30%;
  padding: 1rem;
  @include border-box;
  @include box-shadow;
}

section {
  width: 70%;
  margin-left: 30%;
  padding: 1rem;
  @include border-box;
}

article {
  margin-top: 4rem;
}

.swatch {
  width: 150px;
  height: 50px;
  font-size: .7rem;
  padding: .5rem;
  margin-bottom: .3rem;
  display: inline-block;
  @include border-box;
  &.gray {
    background-color: $gray;
  }
  &.light-gray {
    background-color: $light-gray;
  }
  &.darkest-gray {
    background-color: $darkest-gray;
  }
  &.dark-gray {
    background-color: $dark-gray;
    color: white;
  }
  &.light-blue {
    background-color: $light-blue;
    color: white;
  }
  &.aqua {
    background-color: $aqua;
    color: white;
  }
  &.green {
    background-color: $green;
    color: white;
  }
  &.red {
    background-color: $red;
    color: white;
  }
  &.orange {
    background-color: $orange;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.gold {
    background-color: $gold;
    color: white;
  }
}
