// @mixins.scss

@mixin border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($i) {
  -webkit-border-radius: $i;
  border-radius: $i;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin box-shadow {
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.20);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.20);
}

@mixin font-face($style-name, $file, $family, $category:"") {
  $filepath: "../fonts/" + $family + "/" + $file;
  @font-face {
    font-family: $style-name;
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), 
    url($filepath + ".woff") format('woff'), 
    url($filepath + ".woff2") format('woff'), 
    url($filepath + ".ttf")  format('truetype'), 
    url($filepath + ".svg#" + $file + "") format('svg');
  }
}