// _typeworks.scss

@include font-face('bold', 'bold', 'Proxima Nova', 'sans-serif');
@include font-face('italic', 'italic', 'Proxima Nova', 'sans-serif');
@include font-face('semibold', 'semibold', 'Proxima Nova', 'sans-serif');
@include font-face('regular', 'regular', 'Proxima Nova', 'sans-serif');

@mixin regular {
    font-family: 'regular', sans-serif;
}

@mixin italic {
    font-family: 'italic', sans-serif;
}

@mixin semibold {
    font-family: 'semibold', sans-serif;
}

@mixin bold {
    font-family: 'bold', sans-serif;
}

html, body {
  font-size: 1rem;
  line-height: 1.2rem;
  @include regular;
  @include font-smoothing;
}

h1 {
  font-size: 1.7rem;
  line-height: 1.9rem;
  margin-top: 1rem;
  @include semibold;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-top: 1rem;
  text-transform: uppercase;
  @include semibold;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  @include bold;
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  @include regular;
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }

  &.meta {
    font-size: .7rem;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 0;
  }
}

a {
  color: $light-blue;
  text-decoration: underline;
}
